* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}


.navbar_2 {
    background: #fff;

    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    position: sticky;
    z-index:999 ;
}



.navbar1 {
    background: #380C64;
    height: 80px;
    width: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.2rem;
    position: sticky;
    z-index:999 ;
}


.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    z-index: 1;
    width: 100%;
    max-width:1300px;
    margin:0 auto;
    padding: 0 ;

}

#navbar__logo{
    background-color: #131313 ;
    background-image: linear-gradient(to top, #1F7276 0%, #11A7AE 200%);
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display:flex;
    align-items:center;
    text-decoration: none;
    font-size: 2rem;

}

.fa-gem{
    margin-right:0.5rem;

}

.navbar__menu{
    display:flex;
    align-items:center;
    list-style:none;
    text-align:center;

}

.navbar__item{
    height:80px;
}


.navbar__links{
    color: #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration: none;
    padding:0 1rem;
    height:100%;
}


.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width:100%
}


.button{
    display: flex;
    justify-content: center ;
    align-items:center;
    text-decoration: none;
    padding: 10px 20px;
    height:100%;
    width:100%;
    border:none;
    border-radius:4px;
    background: #f77062;
    color:#fff;

}

div.bootstrapp{
  width: 600px;
  /* height:1000px; */
  /* height:auto */
  margin: auto;
  /* border: 3px solid #73AD21; */

}


.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color:#f77062;
    transition:all 0.3s ease
}

/* mobile responsiveness */
@media screen and (max-width:480px){
    .navbar__container{
        display:flex;
        justify-content: space-between;
        height:150px;
        z-index:1;
        width:100%;
        /* max-width:auto; */
        padding:0;

    }

    .navbar1 {
        background: #380C64;
        height: 80px;
        width: 400px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size:1.2rem;
        position: sticky;
        z-index:999 ;
    }


    div.bootstrapp{
        width: 400px;
        /* height:auto */
        margin: 100;
        /* border: 3px solid #73AD21; */
      
      }

    .navbar__menu{
        display:grid;
        grid-template-columns: auto;
        margin:0;
        width: 100%;
        position:absolute;
        top:-1000px;
        opacity:0;
        transition:all 0.5s ease;
        height:50vh;
        z-index:-1;
        background:#131313 ;


    }

    .navbar__menu.active{
        background:#131313 ;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;

    }

    #navbar__logo{
        padding-left:25px;

    }
    


    .navbar__toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        transition:all 0.3s ease-in-out;
        background: #fff;
    }



    .navbar__item {
        width:100%;
        /* justify-content: space-between; */
    }


    

    .navbar__links{
        text-align:center;
        padding:2rem;
        display:table;
    }


    #mobile_menu{
        position:absolute;
        top:20%;
        right:5%;
        transform:translate(5%, 20%)
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    



    .button{
        display:flex;
        justify-content: center;
        align-items: center;
        width:80%;
        height: 80px;
        margin:0;

    }

    .navbar__toggle .bar{
        display:block;
        cursor:pointer;


    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }


    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } 




}


/* Hero Section */
.main {
    background-color:#141414 ;
}


.main__container {
    display: grid ;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-self: auto;
    margin:0 ;
    height: 90vh;
    background-color:#fff ;
    z-index: 1;
    width:100%;
    max-width: 2000px;
    padding:0 50px
}


.main__content h1{
    font-size:4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}



.main__content h2{
    font-size:4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}


.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff
}


.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #f35196 100%);
    padding:14px 32px;
    border:none;
    border-radius:4px;
    color:#fff;
    margin-top:2rem;
    cursor:pointer;
    position:relative;
    transition: all 0.35s;
    outline:none;
    
}

.main__btn a{
    position:relative;
    z-index:2;
    color:#fff;
    text-decoration: none;

}


.main__btn:after{
    position:absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height:100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;


}


.main__btn:hover{
    color:#fff;
}

.main__btn:hover:after{
    width:100%;
}



.main__content--container {
    text-align: left;
}

.main__content--container h1{
    text-align: richt;
}


#main__img{
    height: 80%;
    width:80%
}


/* Services Section CSS */
.services{
    background: #141414;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

.services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, 
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
    );
    

    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}


.services__container {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

}

.services__card{
    margin:1rem;
    height:525px;
    width:400px;
    border-radius:4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,0.6) 100%),
    url(/images/pic3.jpg);

    background-size:cover ;
    position: relative;
    color:#fff;


}


.services__card:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,0.6) 100%),
    url(/images/pic4.jpg);

}


.services h2{
    position:absolute;
    top:350px;
    left:30px;

}

.services__card p{
    position: absolute;
    top:400px;
    left:30px;
}


.services__card button{
    color:#fff;
    padding:10px 20px;
    border:none;
    outline:none;
    border-radius:4px;
    background:#f77062;
    position:absolute;
    top:440px;
    left:30px;
    font-size:1rem;
    cursor: pointer;

   
}
.services__card:hover{
    transform: scale(1.075);
    transition:0.2s ease-in;
    cursor:pointer;
}



/* Footer Styles */
.footer__container{
    background-color: white;
    padding: 2rem 0;
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;

}

#footer__logo {
    color: black;
    display: flex;
    align-items: center;
    cursor:pointer;
    text-decoration: none;
    font-size:2rem;

}


.footer__links{
    width:100%;
    max-width: 1000px;
    display:flex;
    justify-content: center;
    margin: 10px;

}


.footer__link--wrapper{
    display:flex;

}


.footer__link--items{
    font-weight: bold;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:16px;
    text-align:left;
    width:300px;
    box-sizing:border-box;
    font-family: "Times New Roman";

}


.footer__link--items h2{
    margin-bottom:16px;
}


.footer__link--items > h2 {
    color:black;

}


.footer__link--items a {
    color:black;
    text-decoration: none ;
    margin-bottom:0.5rem;
}



 .footer__link--items a:hover{
    color:#e9e9e9;
    transition:0.3s ease-out;



} 


/* Social icons */
.social__icon--link{
    color: #fff;
    font-size: 24px;

}

.social__media {
    max-width: 1000px;
    width:100%;
}


.social__media--wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    max-width:1000px;
    margin:40px auto 0 auto;

}


.social__icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:240px;

}



.social__logo{
    color:#fff;
    justify-self: flex-start;
    margin-left:20px;
    cursor:pointer;
    text-decoration:none;
    font-size: 2rem;
    display: flex;
    align-items:center;
    margin-bottom:16px;


}


.website__rights {
    color:#141414
}





/* New modifications */

.header_fonts{
    color:#fff
}



.header_2_fonts{
    color:#131313
}


.navbar__links_2{
    color: #131313;
    display:flex;
    align-items:left;
    justify-content:left;
    text-decoration: none;
    /* padding:0 1rem; */
    padding: 10px 20px;

    height:100%;
}

.button_2{
    display: flex;
    justify-content: center ;
    align-items:center;
    text-decoration: none;
    padding: 10px 20px;
    height:100%;
    width:100%;
    border:none;
    border-radius:4px;
    background: #57B425;
    color:#fff;

}



.navbar_3 {
    /* background: #fff; */
    background-image: url("images/house_interior_cropped_2.jpg");
    /* background-image: url("images/hands_cleaning.jpg"); */

    
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    position: sticky;
    z-index:999 ;
}


.header_class{
    font-size:4rem;
    color:#11A7AE;
    align-items: left;


}



/* TESTIMONIALS */
/* Style the container with a rounded border, grey background and some padding and margin */
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    color:#131313
    
  }
  
  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 480px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  }


  .checked {
    color: orange;
  }


  .p_font {
    font-size: 20px;
  }


  .header_class_2{
    font-size:2rem;
    color:#11A7AE;
    align-items: left;


}



.contact_us{
    background: #141414;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    color:#fff
}

  .form_css{
 color:white;
 padding:10px; 
 /* margin:15px;*/
  }






  


  button {  
    background-color: lightblue;  
    color: black;  
    font-size: 25px;  
    margin: auto;  
    }  


.whatsapp-style{
    position: absolute;
}







#slider {
    position: relative;
    /* width: 1000px; */
    height: 600px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
    float: left;
  }
  #slider ul li img{
    width: 450px;
    height: 450px;
  }
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }

/****************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
    height: 100vh;
}


/****************************************************************/


@media screen and (max-width: 480px) {
    .footer__links{
        padding-top: 3rem;
        /* margin-top: 10px; */
        
    }


    #footer__logo{
        margin-bottom: 2rem;   
    }

    .website__rights{
        margin: bottom 2rem;
    }


    .footer__link--wrapper{
        flex-direction: column ;

    }


    .social__media--wrap{
        flex-direction: column;
    }
    
}

@media screen and (max-width:480px) {
    .footer__link--items{
        
        font-family: "serif";
        margin:0;
        padding:10px;
        width:100%;
        
        

    }

    .about-text p{
        color: white;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        text-orientation: sideways;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        /* margin-bottom: 0px;
        margin-left: 0px; */
    }
    
    .about-text_1 h2{
        text-align: right;
        color: black;
        font-size: 75px;
        text-transform: capitalize;
        margin-top: 0px;
        padding: 10px;
        
    
        margin-bottom: 20px;
        margin-left: 20px;
    }
    
    
    .about-text_1 {
        color: black;
        font-size: 18px;
        background-color: #fff;
        line-height: 28px;
        letter-spacing: 1px;
        line-height: 28px;
        height: fit-content;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    
    
    }

    
}




.about{
	width: 300%;
	padding: 0px 0px;
	/* background-color: black; */
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
    
}
.main{
	width: 4000px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: whitesmoke;
	font-size: 75px;
	text-transform: capitalize;
	/* margin-bottom: 20px; */
}
/* .about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
} */
.about-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
    text-orientation: sideways;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
	/* margin-bottom: 0px;
    margin-left: 0px; */
}

.about-text_1 h2{
    text-align: right;
	color: black;
	font-size: 75px;
	text-transform: capitalize;
    margin-top: 0px;
    padding: 10px;
    

	margin-bottom: 20px;
    margin-left: 20px;
}


.about-text_1 {
    color: black;
    font-size: 18px;
    background-color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
	line-height: 28px;
    height: fit-content;
	font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;


}


.About_us_header{
    color: black;
    font-size: 27px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    background-color: #fff ;

}


.space{
    background-color: white;
}